<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cw" type="CertificatesWatcher.Configuration.Config, CertificatesWatcher" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="from@mail.org">
        <network host="smtp.gmail.com" port="465" defaultCredentials="false" userName="" password="" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <cw mails="reciver1@emails.com, reciver12@emails.com" daysToExpiration="30" >
    <watchingStores>
      <add name="My" />
      <add name="CertificateAuthority" />
      <add name="Root" />
    </watchingStores>
    <ignoringCertificates>
      <add thumbprint="109f1caed645bb78b3ea2b94c0697c740733031c" comment="Microsoft Windows Hardware Compatibility" />
      <add thumbprint="245c97df7514e7cf2df8be72ae957b9e04741e85" comment="Copyright (c) 1997 Microsoft Corp."/>
      <add thumbprint="7f88cd7223f3c813818c994614a89c99fa3b5247" comment="Microsoft Authenticode(tm) Root Authority"/>
      <add thumbprint="18f7c1fcc3090203fd5baa2f861a754976c8dd25" comment="NO LIABILITY ACCEPTED, (c)97 VeriSign, Inc."/>
    </ignoringCertificates>
  </cw>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
  
            <dependentAssembly>
                 <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>
