<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cw" type="CertficatesWatcher.Configuration.Config, CertficatesWatcher" requirePermission="false"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="from@mail.org">
        <network
          host="smtp.gmail.com"
          port="465"
          defaultCredentials="false"
          userName=""
          password=""
          enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <cw mails="reciver1@emails.com, reciver12@emails.com"
      daysToExpiration="30"/>
  
</configuration>
